<footer class="page-footer">
    <div class="container">
        <div class="page-footer__wrap">
            
            <div class="copyright"> Tikkurila academy</div>
            <div class="develop">
                Дизайн и разработка — SomeStudio
            </div>
            <div class="socials">
                <a href="#" class="socials__item socials__item--fb"></a>
                <a href="#" class="socials__item socials__item--yt"></a>
                <a href="#" class="socials__item socials__item--inst"></a>
            </div>
            
            
        </div>
    </div>
</footer>