html {
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: $default-font;
    background: $body-bg;
    font-size: $default-size-font;
    color: $body-color;
    line-height: 1.3;
    overflow-x: hidden;
    &.m-hidden{
        overflow: hidden;
    }

}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

:-moz-any-link:focus {
    outline: 1px dotted invert;
}

:-moz-any-link:focus {
    outline: none;
}

textarea,
input {
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

::-webkit-input-placeholder {
    color: #888;
    transition: all 0.3s ease;
}

::-moz-placeholder {
    color: #888;
    transition: all 0.3s ease;
}

:-moz-placeholder {
    color: #888;
    transition: all 0.3s ease;
}

:-ms-input-placeholder {
    color: #888;
    transition: all 0.3s ease;
}

:focus::-webkit-input-placeholder {
    color: transparent
}

:focus::-moz-placeholder {
    color: transparent
}

:focus:-moz-placeholder {
    color: transparent
}

:focus:-ms-input-placeholder {
    color: transparent
}

input:required {
    -webkit-box-shadow: none;
    box-shadow: none
}

input[type="text"]:-webkit-autofill {
    font-size: $default-size-font!important;
}

input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:focus,
input[type="text"]:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    font-size: $default-size-font!important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: 0 0 0px 1000px #fff inset;
}

input:-webkit-autofill::first-line {
    font-size: $default-size-font!important;
}

input[type="submit"] {
    border: 0;
}

button {
    border: 0;
    outline: none;
}

@-webkit-keyframes fadeEffect {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeEffect {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

h1 {
    font-size: 68px;
    font-family: 'montbold',sans-serif;
    margin: 0 0 43px 0;
    line-height: 1.15;
}

h2 {
    font-size: 40px;
    font-family: 'montsemibold',sans-serif;;
    margin: 0 0 40px 0;
    line-height: 1.2;
}

h3 {
    font-size: 28px;
    font-family: 'montsemibold',sans-serif;;
    // margin: 0 0 40px 0;
    margin: 0 0 27px 0;
}
h4 {
    font-size: 22px;
    font-family: 'montsemibold',sans-serif;;
    // margin: 0 0 40px 0;
    margin: 0 0 32px 0;
}


strong {
    font-family: 'montbold',sans-serif;;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    align-items: flex-start;
    list-style-type: none;
    line-height: 1.25;
    margin-bottom: 16px;
    &:last-child {
        margin-bottom: 0;
    }
    &:before {
        content: "";
        width: 6px;
        min-width: 6px;
        height: 6px;
        background: #FF6633;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        margin: 8px 18px 0 0;
    }
}
