@font-face {
    font-family: 'din-round-pro-regular';
    src: url('../fonts/din-round-pro/din-round-pro-regular/DINRoundPro-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'din-round-pro-bold';
    src: url('../fonts/din-round-pro/din-round-pro-bold/DINRoundPro-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'din-round-pro-light';
    src: url('../fonts/din-round-pro/din-round-pro-light/DINRoundPro-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}